 .u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("images/slide_4.png");
  background-position: 96.24% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-image-1 {
    min-height: 326px;
    background-position: 97.79% 48.77%;
    background-size: auto 125%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 100%;
    margin: 60px 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-1 .u-image-1 {
    min-height: 489px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 77px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 116px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 66px;
    order: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 225px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    border-style: none;
    font-weight: 700;
    margin-top: -41px;
    margin-right: 0;
    padding: 8px 9px;
  }

  .u-section-1 .u-image-1 {
    min-height: 256px;
    order: 1;
    background-size: auto 150%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/slide_31.png");
  background-position: 100% 50%;
  min-height: 630px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 67px;
  order: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin: 1px 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 550px;
    background-position: 95.89% 50%;
  }

  .u-section-2 .u-btn-1 {
    height: 38px;
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 351px;
    background-size: auto 120%;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-btn-1 {
    width: -15px;
    padding: 8px 31px 8px 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 533px;
    background-position: 97.94% 32.33%;
    order: 1;
    background-size: auto 115%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 256px;
    background-position: 100% 49.89%;
    background-size: auto 145%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 65px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 194px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 223px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: -41px;
    margin-right: 0;
    padding-left: 9px;
    padding-right: 9px;
    width: 50px;
  }
}